*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    letter-spacing: 1px;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
}
.fon {
    display: flex;
    width: 100%;
    min-height: 918px;
    margin: 0px;

}
.fon__img {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/1573c486240852c0b25f6687/edfe0d34-85a2-334f-535a-16bb6c3310f4.jpg);
    width: 100%;
    background-size: cover;
    background-position: 100% 275px;
    background-repeat: no-repeat;
}
.form{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding:60px 0px;
    margin:0px auto;
    color:white;
}

.form__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:40px 30px;
}
.form__block_r {
    background-color: #f9926f;
}
.form__block_p {
    background-color: #978bb7;
}
.form__block_b {
    background-color: #8193c3;
}
.form__block_size {
    display: flex;
    justify-content: center;
    align-content: baseline;
    flex-wrap: wrap;
    height: 340px;
    width: 300px;
}

.form__svg {
    width: 100%;
    padding:0 115px;
}

h3{
 color:white;
 font-weight:400;
 font-size:30px;
 text-align:center;
}
.block_size__form{
    margin:20px 0 0;
}
.form__text {
    font-style: italic;
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
}
.block__form{
    margin-right:30px;
}
.form__crestic_1 {
    display: flex;
    width: 20px;
    height: 20px;
}
.crest{
    width:100%;
    text-align:right;
}

@media (max-width:1199px) {
    .fon{
        min-height:693px;
    }
    .fon__img{
        background-size:cover;
    }
    .form__block_size {
        height: 436px;
        width: 233px;
    }
    .form__svg {
        padding: 0 70px;
    }
}
@media (max-width:991px) {
    .fon {
        min-height: 467px;
    }
    .form__block_size {
        height: 556px;
        width: 160px;
    }

    .form__svg {
        padding: 0 30px;
    }
}
@media (max-width:767px){
    .fon {
        min-height: 567px;
    }
    .form__block {
        padding: 30px 10px;
    }
    .form__block_size {
        height:auto;
        width: 520px;
    }

    .form__svg {
        padding: 0 220px;
    }
    .block__form{
        margin-right:0px;
        margin-bottom:20px;
    }
}
@media (max-width:575px){
    .form__block_size {
        width: 320px;
    }
    .form__svg {
        padding: 0 120px;
    }
}
@media (max-width:370px){
    .form__block_size {
        width: 200px;
    }

    .form__svg {
        padding: 0 70px;
    }
}